# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Misc and VSCode files
.vscode/
asio*/
test/result*


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Bazel stuff
bazel-out/
bazel-bin/
bazel-testlogs/
bazel-hasher-server/
.bazelversion
